<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="form-group" [class.has-error]="mUsername.invalid">
                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus required email
                  [(ngModel)]="data.username" #mUsername="ngModel">
                <div *ngIf="mUsername.invalid && mUsername['errors'].required">請輸入您的 E-mail 地址</div>
                <div *ngIf="mUsername.invalid && mUsername['errors'].email">請輸入合法的 E-mail 地址</div>
                <pre>mUsername.value = {{mUsername.value}}
mUsername.pristine = {{mUsername.pristine}}
mUsername.dirty = {{mUsername.dirty}}
mUsername.untouched = {{mUsername.untouched}}
mUsername.touched = {{mUsername.touched}}
mUsername.valid = {{mUsername.valid}}
mUsername.invalid = {{mUsername.invalid}}
mUsername.disabled = {{mUsername.disabled}}
mUsername.enabled = {{mUsername.enabled}}
mUsername.status = {{mUsername.status}}
mUsername.errors = {{mUsername.errors|json}}</pre>
              </div>
              <div class="form-group" [class.has-error]="mPassword.invalid">
                <input class="form-control" placeholder="Password" name="password" type="password" required minlength="3" maxlength="16"
                [(ngModel)]="data.password" #mPassword="ngModel">
                <pre>mPassword.value = {{mPassword.value}}
mPassword.pristine = {{mPassword.pristine}}
mPassword.dirty = {{mPassword.dirty}}
mPassword.untouched = {{mPassword.untouched}}
mPassword.touched = {{mPassword.touched}}
mPassword.disabled = {{mPassword.disabled}}
mPassword.enabled = {{mPassword.enabled}}
mPassword.status = {{mPassword.status}}
mPassword.errors = {{mPassword.errors|json}}</pre>
              </div>
              <div class="checkbox">
                <label>
                  <input name="remember" type="checkbox" value="Remember Me">Remember Me </label>
              </div>
              <!-- Change this to a button or input when using this as a form -->
              <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
